spring:
  application:
    name: OpusNocturne

  # 环境配置
  profiles:
    active: dev

  # 数据源配置
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource # 数据库连接池
    driver-class-name: com.mysql.cj.jdbc.Driver # 数据库驱动
    url: jdbc:mysql://localhost:3306/opusnocturne?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&useSSL=false&allowPublicKeyRetrieval=true # 数据库连接地址
    username: root
    password: 1234

    # Druid连接池配置
    druid:
      initial-size: 5 # 初始化连接池大小
      min-idle: 5 # 最小连接池数量
      max-active: 20 # 最大连接池数量
      max-wait: 60000 # 获取连接等待超时时间,时间单位毫秒
      time-between-eviction-runs-millis: 60000 # 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒
      min-evictable-idle-time-millis: 300000 # 配置一个连接在池中最小生存的时间，单位是毫秒
      validation-query: SELECT 1 # 用来检测连接是否有效的sql
      test-while-idle: true # 是否开启空闲连接检测
      test-on-borrow: false # 是否在获取连接的时候进行检测
      test-on-return: false #z 是否在归还连接的时候进行检测
      pool-prepared-statements: true # 是否缓存preparedStatement,作用为提升性能
      max-pool-prepared-statement-per-connection-size: 20 # 缓存preparedStatement数量
      # 监控统计
      stat-view-servlet:
        enabled: true # 是否开启，开启的功能为监控
        url-pattern: /druid/* # 监控地址
        login-username: admin
        login-password: 1234
      filter:
        stat:
          enabled: true # 是否开启，开启的功能为统计功能
          slow-sql-millis: 1000 # 慢sql的时间，单位是毫秒
          log-slow-sql: true # 是否记录慢sql
  # redis配置
  data:
    redis:
      host: localhost
      port: 6379
      password: 123456
      database: 4
      timeout: 5000ms # 超时时间
      lettuce:
        pool:
          max-active: 8 # 最大连接数
          max-idle: 8 # 最大空闲连接数
          min-idle: 0 # 最小空闲连接数
          max-wait: -1ms # 最大等待时间
# 日志配置
logging:
  level:
    root: info # 日志级别
    com.xuan.opusnocturne: debug # 日志包
  pattern:
    console: '%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n'
  file:
    name: log/opusnocturne.log # 日志文件名
    max-size: 10M # 日志文件大小
    max-history: 30 # 日志文件保存天数

