spring:
  application:
    name: OpusNocturne

  # 环境配置
  profiles:
    active: dev

  # 数据源配置
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource # 数据库连接池
    driver-class-name: com.mysql.cj.jdbc.Driver # 数据库驱动
    url: jdbc:mysql://localhost:3306/opusnocturne?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: 1234

    # Druid连接池配置
    druid:
      initial-size: 5 # 初始化连接池大小
      min-idle: 5 # 最小连接池数量
      max-active: 20 # 最大连接池数量
      max-wait: 60000 # 获取连接等待超时时间，单位毫秒
      time-between-eviction-runs-millis: 60000 # 间隔多久检测一次空闲连接，单位毫秒
      min-evictable-idle-time-millis: 300000 # 连接在池中最小生存的时间，单位毫秒
      validation-query: SELECT 1 # 检测连接是否有效的SQL
      test-while-idle: true # 是否开启空闲连接检测
      test-on-borrow: false # 是否在获取连接的时候进行检测
      test-on-return: false # 是否在归还连接的时候进行检测
      pool-prepared-statements: true # 是否缓存preparedStatement，提升性能
      max-pool-prepared-statement-per-connection-size: 20 # 缓存数量
      # 监控统计
      stat-view-servlet:
        enabled: true # 是否开启监控
        url-pattern: /druid/* # 监控地址
        login-username: admin
        login-password: 1234
      filter:
        stat:
          enabled: true # 是否开启统计功能
          slow-sql-millis: 1000 # 慢SQL判定时间，单位毫秒
          log-slow-sql: true # 是否记录慢SQL

  # Redis 配置
  data:
    redis:
      host: localhost
      port: 6379
      password: 123456
      database: 4
      timeout: 5000ms # 超时时间
      lettuce:
        pool:
          max-active: 8 # 最大连接数
          max-idle: 8 # 最大空闲连接数
          min-idle: 0 # 最小空闲连接数
          max-wait: -1ms # 最大等待时间

# MyBatis-Plus 配置 (补充)
mybatis-plus:
  mapper-locations: classpath*:/mapper/**/*.xml # Mapper.xml 文件路径
  configuration:
    map-underscore-to-camel-case: true # 开启驼峰命名自动映射
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl # 开发环境下在控制台打印 SQL
  global-config:
    db-config:
      id-type: assign_id # 全局默认主键策略：雪花算法生成ID

logging:
  level:
    root: info
    com.xuan: debug
  pattern:
    # 使用 %clr() 给不同部分加上颜色，{faint}是淡色，{cyan}是青色，级别(level)会自动根据警告/错误变色
    console: '%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr([%thread]){faint} %clr(%-5level) %clr(%logger{50}){cyan} - %msg%n'
  file:
    name: log/opusnocturne.log
  logback:
    rollingpolicy:
      max-file-size: 10MB
      max-history: 30    # 日志文件保留天数